.header-hd {
    background-color: orangered;
    color: #fff;

}

.container-hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
}

span a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}


.search-section-hd {
    padding: 40px 0;
    text-align: center;

}

.search-title-hd {
    font-weight: 600;
    color: #ef5222;
    font-size: 19.5px;
    line-height: 29.25px;
    font-family: Arial;
    margin-right: 0.8cm;
    position: absolute;
    top: 4cm;
    left: 50%;
    transform: translateX(-50%);


}

.search-form-hd {
    display: flex;
    justify-content: center;
    height: 35px;

    color: #575962;
    margin-top: 3.5cm;
}

.search-input-hd {
    width: 300px;

    font-size: 8px;
}

.search-button-hd {
    background-color: #5867dd;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    height: 39px;
    width: 126px;
    margin-top: 0.5cm;
}

.tchd {
    border: 1px solid #ccc;
    /* Đây là dòng CSS để thêm viền */
    border-radius: 10px;
    /* Đây là dòng CSS để làm cong góc */
    background-color: #fff;
    width: 400px;
    height: 313px;
    margin: 0 auto;
    background-color: #cccccc;

}

.span-user {
    background-color: #f4f5f8;
    color: #575962;
    width: 42px;
    height: 35px;
    display: flex;
    font-size: 13px;
    line-height: 16.25px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
