/* CSS cho trang đăng nhập */
.login {
  margin-top: 50px;
  border-radius: 16px;
  border: 1px solid rgba(239, 82, 34, 0.6);
  background: #fff;
  outline: 6px solid rgba(170, 46, 8, 0.063);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: -50px;
}

.login img {
  width: 100%;
}

.login h3 {
  padding-top: 20px;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: #f2754e;
}

/* CSS cho tab */
.tab-form {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #f2754e;
}

.nav-link {
  display: block;
  font-weight: 500!important;
  text-transform: uppercase!important;
  font-size: 15px!important;
  padding: 10px;
  color: #282323;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/* CSS cho input và nút đăng nhập */
.input-login {
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: rgba(210, 83, 44, 0.02);
  padding: 0 10px;
  font-size: 16px;
}
.input-registerName{
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(210, 83, 44, 0.02);
    padding: 10px;
    font-size: 16px;
    
}

.btn-login {
  height: 50px;
  width: 100%;
  border: 0;
  border-radius: 30px;
  color: #fff;
  background-color: #f2754e;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-login:hover {
  background-color: #e55c2e;
}

/* CSS cho liên kết đăng ký */
.text-center p {
  margin-top: 20px;
  font-size: 14px;
}

.text-center a {
  color: #f2754e;
  text-decoration: none;
  font-weight: bold;
}

.text-center a:hover {
  text-decoration: underline;
}
